doctype html
html(lang="en")
  head
    title= sketch
    script.
      window.sketch="#{sketch}"
  body
    h1= sketch
    #backButton
      a(href="/")= "back"
    #p5sketch
    script(src="/static/bundle.js")